<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <!---ITEM EVENTS-->
      <event name="item:created">
        <handler type="Basiscore.CmsAudit.Handlers.ItemEventHandler, Basiscore.CmsAudit" method="OnItemCreated"/>
      </event>
      <event name="item:versionRemoving">
        <handler type="Basiscore.CmsAudit.Handlers.ItemEventHandler, Basiscore.CmsAudit" method="OnVersionRemoving"/>
      </event>
      <event name="item:moved">
        <handler type="Basiscore.CmsAudit.Handlers.ItemEventHandler, Basiscore.CmsAudit" method="OnItemMoved"/>
      </event>
      <event name="item:copied">
        <handler type="Basiscore.CmsAudit.Handlers.ItemEventHandler, Basiscore.CmsAudit" method="OnItemCopied"/>
      </event>
      <event name="item:cloneAdded">
        <handler type="Basiscore.CmsAudit.Handlers.ItemEventHandler, Basiscore.CmsAudit" method="OnCloneAdded"/>
      </event>
      <event name="item:deleted">
        <handler type="Basiscore.CmsAudit.Handlers.ItemEventHandler, Basiscore.CmsAudit" method="OnItemDeleted"/>
      </event>
      <event name="item:saving">
        <handler type="Basiscore.CmsAudit.Handlers.ItemEventHandler, Basiscore.CmsAudit" method="OnItemSaving"/>
      </event>     
    </events>
    <pipelines>
      <publish>
        <processor type="Basiscore.CmsAudit.Handlers.AuditPublish, Basiscore.CmsAudit"/>
      </publish>
    </pipelines>
    <settings>
      <!---EnableCmsAuditLogging: If it is not "true", then no audit logs will be inserted into the DB tables.
      Consider this only as a temporary way to disable logging, because the events in custom code will still be triggered, but logs will not be inserted into the table.
      To disable audit logging completely, comment the whole "events" & "pipelines" nodes above-->
      <setting name="EnableCmsAuditLogging" value="true" />
      <setting name="CoreDbName" value="core" />
      <setting name="MasterDbName" value="master" />
      <setting name="LogChangesMadeInDatabases" value="core,master" />
      <!---AuditOnlyItemsOfTheseTemplates: If you want to insert audit logs for items of only certain templates, replace "None" with comma separated Item IDs.
      This setting value should either be "None" or have Template ID(s).-->
      <setting name="AuditOnlyItemsOfTheseTemplates" value="None" />
      <!---IncludeTheseStandardFieldsInLog: The inserted audit logs will store field values of custom fields and the standard field names specified here.
      This setting value should either be "None" or have exact standard field names separated by commas.-->
      <setting name="IncludeTheseStandardFieldsInLog" value="__Display name,__Sortorder,__Subitems Sorting,__Final Renderings,__Renderings,__Never publish,__Publish,__Publishing groups,__Unpublish,__Default workflow,__Workflow" />
    </settings>
  </sitecore>
</configuration>
